header {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0px;
}

header .headSearch {
    width: 90%;
    height: 50px; 
    border: 1px solid #ff2b8e;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 10px;
}

header .headSearch .selectDropWrapper {
    width: 40%;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

header .headSearch .selectDropWrapper:after {
    content: '';
    position: absolute; 
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border-left: 1px solid #ff2b8e;
    height: 20px;
}

header .headSearch .search {
    width: 70%;
    padding-left: 0px;
    position: relative;
}

header .headSearch .search input {
    width: 85%;
    height: 50%;
    border: none;
    outline: none
    !important; font-size: 16px;
}

.logo {
    width: 90%;
}

header .headSearch .search .searchIcon {
    position: absolute;
    right: 5px;
    color: #ff2b8e;
    opacity: 0.7;

}

header .countryWrapper .openSelect{
    color: #000000 !important;
    cursor: pointer;

}

header .headerTabs li{
    list-style: none;
    left:-30px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

header .headerTabs li{
    position: relative;
}

header .headerTabs li span{
    padding: 0px 5px;
    cursor: pointer; 
    font-size: 13px;
    
}


header .headerTabs li span.badge{
    background-color: #ff2b8e;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    position:absolute;
    font-size: 10px;
    top: -10px;
    left: 20px; 
}

header .headerTabs li span .compare-icon{
    margin-right: 5px;
}